.data-main {
    background-color: #1B1F24;
    min-height: 100vh;
    color: #d0d1d4;
    padding: 100px 0 0 0;
    display: flex;
    justify-content: space-around;

    .transactions {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h1 {
            margin-bottom: 24px;
        }

        .transaction {
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 12px;
            border: 2px solid rgb(18, 20, 24);
            text-transform: uppercase;

            // box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.72);

            h1 {
                margin: 0;
                font-weight: 600;
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }

            .trnsc {
                display: flex;
                align-items: center;
                gap: 8px;

            }

            .trnsc-cost {
                h1 {
                    text-align: end;
                }
            }

        }
    }

    .pre-table {

        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 1em;
            box-shadow: -1px 8px 15px 2px rgba(0, 0, 0, 0.72);
            text-align: center;
            width: 100%;
            text-transform: uppercase;

            thead tr {
                background-color: #121418;
            }

            th,
            td {
                padding: 12px 15px;
            }

            tbody tr {
                border-bottom: 1px solid #121418;
                transition: 0.2s;

                &:hover {
                    background-color: #434f66;

                }
            }
        }
    }
}

.user-assets {
    .select {
        margin: 24px 0;
        width: 300px;
        text-transform: capitalize;

    }

    .asset-info {
        background-color: #121418;
        border-radius: 5px;
        padding: 12px;
        gap: 12px;
        box-shadow: -1px 8px 15px 2px rgb(0 0 0 / 72%);
        margin-bottom: 24px;
        text-transform: uppercase;


        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

}


//// MQ ////


@media screen and (max-width: 1300px) {
    .data-main {
        flex-direction: column;
        justify-content: unset;
        align-items: flex-start;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1005px) {


    // .transaction {
    //     // width: 300px;
    // }

    .styled-table {
        display: none;
    }

    .data-main {
        flex-direction: row;
        justify-content: space-between;

    }
}

@media screen and (min-width: 1005px) {
    .user-assets {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .data-main {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }
}