.data-main {
    background-color: #1B1F24;
    min-height: 100vh;
    color: #d0d1d4;
    padding: 100px 0 0 0;
    display: flex;
    justify-content: space-around;

    .transactions {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h1 {
            margin-bottom: 13px;
        }

        .transaction {
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 12px;
            border: 2px solid rgb(18,20,24);
            // box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.72);

            h1 {
                margin: 0;
                font-weight: 600;
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }

            .trnsc {
                display: flex;
                align-items: center;
                gap: 8px;

            }

            .trnsc-cost{
                h1{
                    text-align: end;
                }
            }

        }
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1em;
        box-shadow: -1px 8px 15px 2px rgba(0, 0, 0, 0.72);
        text-align: center;


        thead tr {
            background-color: #121418;
        }

        th,
        td {
            padding: 12px 15px;
        }

        tbody tr {
            border-bottom: 1px solid #121418;
            transition: 0.2s;

            &:hover {
                background-color: #434f66;

            }
        }
    }
}