.stats {
    display: flex;
    width: calc(100vw - 190px);
    justify-content: space-between;

    .stats-info {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: #16161A;
        color: white;

        .header {
            font-size: 20px;
            padding-left: 55px;
            padding-top: 15px;
        }

        .info {
            padding-top: 59px;
            padding-left: 55px;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            padding-right: 55px;
            align-items: center;

            .info-balance {
                .user-balance {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    margin-top: 8px;
                    font-size: 23px;
                    
                    p {
                        background-color: rgb(160,117,237);
                        font-size: 20px;
                        padding: 3px;
                        border-radius: 3px;
                        cursor: default;
                    }
                }
            }

            .info-btns {
                display: flex;
                gap: 8px;

                .sell {
                    background-color: rgb(207, 71, 71);
                }

                .buy {
                    background-color: rgb(75, 107, 223);
                }

                button {
                    padding: 8px;
                    font-size: 18px;
                    color: white;
                    border-radius: 3px;
                }
            }


        }

        .chart-info {
            // padding-top: 75px;
            border-radius: 5px;
            width: 100%;
            margin-top: 50px;
            background-color: #2b2b2c;
            display: flex;
            flex-direction: column;

            .coins {
                justify-content: space-between;
                display: flex;
                padding: 15px;
                padding-right: 60px;

                select {
                    width: 200px;
                    height: 30px;
                    cursor: pointer;
                    background-color: white;
                    outline: none;
                    border: none;
                    box-shadow: 0 2px 0 white;
                    border-radius: 2px;
                    font-size: 16px;
                    text-align: center;

                    slot {
                        option {
                            &:hover {
                                background-color: #A5B5EF !important;
                            }

                        }
                    }

                }

                .coin-info {
                    align-items: center;
                    display: flex;
                    gap: 8px;
                    // color: rgb(49,65,126);
                    color: white;


                    h6 {
                        font-size: 16px;
                        text-transform: uppercase;
                    }

                    p {
                        background-color: rgb(160,117,237);
                        padding: 3px;
                        border-radius: 3px;
                        cursor: default;
                        color: white;
                    }
                }
            }

            .chart {
                .graph {
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }

    }

    .stats-transactions {
        width: 190px;
        background-color: #16161A;

    }
}